body {
  box-sizing: border-box;

  background-image: url("./Images/3.jpg");
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* div {
} */

.content {
  color: floralwhite;
  font-family: "Raleway", sans-serif;
  position: absolute;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

a:link{
  color: floralwhite;
  font-size: 2.6vmin;
}

h {
  font-size: 2.8vmin;
}

p {
  font-size: 2.6vmin;
}

li {
  font-size: 2.6vmin;
}

.current {
  border-bottom: 4px solid white;
} 